*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: powderblue;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
}

.book {
    width: 20%;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 30px 10px;
    color: gray;
    font-size: 2em;

}

.current {
    border: peru dotted 2px;
    border-radius: 8px;
    width: 70%;
    padding: 30px;
}

.current h2 {
    text-align: center;
    color: slategrey;
}